.vscode/**
.vscode-test/**
.mypy_cache/**
node_modules/**
out/**
pythonFiles/install-requirements.sh
pythonFiles/requirements.in
pythonFiles/requirements.txt
pythonFiles/venv
pythonFiles/lib/__pycache__
src/**
.git*
**/tsconfig.json
**/tslint.json
**/webpack.config.js
**/yarn-error.log
**/*.map
**/*.pyc
**/*.ts
