.vscode/**
.vscode-test/**
node_modules/**
out/**
pythonFiles/tuck/demo.py
pythonFiles/tuck/README.md
pythonFiles/tuck/requirements.in
pythonFiles/tuck/requirements.txt
pythonFiles/tuck/script
pythonFiles/tuck/setup.cfg
pythonFiles/tuck/setup.py
pythonFiles/tuck/tests.py
pythonFiles/tuck/.git*
pythonFiles/tuck/.editorconfig
pythonFiles/tuck/.vscode
pythonFiles/install-requirements.sh
pythonFiles/venv
pythonFiles/lib/__pycache__
src/**
.git*
**/tsconfig.json
**/tslint.json
**/webpack.config.js
**/yarn-error.log
**/*.map
**/*.pyc
**/*.ts
