.vscode/**
.vscode-test/**
node_modules/**
out/**
pythonFiles/tuck/demo.py
pythonFiles/tuck/README.md
pythonFiles/tuck/requirements.txt
pythonFiles/tuck/tests.py
pythonFiles/tuck/.git*
pythonFiles/install-requirements.sh
pythonFiles/venv
pythonFiles/lib/__pycache__
src/**
.gitignore
**/tsconfig.json
**/tslint.json
**/webpack.config.js
**/yarn-error.log
**/*.map
**/*.pyc
**/*.ts
